# Build & Output Directories
public/
dist/
build/
.ssg/
_posts_build/

# System & OS Files
.DS_Store
Thumbs.db
*.tmp

# Dependency & Environment Files
node_modules/
.venv/
venv/
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE & Editor Files
.vscode/
.idea/
*.swp
